.profile-img{
    height: 260px;
    width: 260px;
    margin: auto;
    position: relative;
    border-radius: 5%
}

.header-section{
  margin-left: auto;
  margin-right: auto;
}

.main-icon{
  font-size: 2em;
  color: #01579b;
  display: block;
}

.sub-icon{
  font-size: 2em;
  colar: #01579b;
  display: block;
  margin: 10px 0;
}

#uw{
    background-image:url("/images/background_edited_edited.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#uw img{
    margin-top: 3em;
}
