.profile-img{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    position: relative;
    margin: auto;
}

#uw{
    background-image:url("/images/background_edited_edited.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#uw img{
    margin-top: 3em;
}
