<div class="building_block" ><!--contact-->
    <div class="subtitle">
         <h2 class="t">Contact</h2>
    </div>
    <div class="socialmedia">
        <ul>
           <li>Email: x245zhou@uwaterloo.ca</li>
           <li>Mobile: 250-884-6589</li>
           <li>Address: Wilmot Court South 208b, Uwaterloo Place, 161 University Ave, Waterloo, Ontario, N2L 3E5</li>
        </ul>
    </div>
    <div class="leavemessage">
        <form>
            <div class="personalinfo">
                <p>Leave me a message!</p><br>
                <input type="text" class="text" value="Name *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name *';}">
       <input type="text" class="text" value="Email *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email *';}">
       <input type="text" class="text" value="Phone *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone *';}">
            </div>
            <div class="message">
                <textarea  value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message *</textarea>
       <input type="submit" value="Send Message"/>
            </div>
        </form>
    </div>

</div>
