<div class="section cyan lighten-5"><!--education-->
    <!-- <div class="subtitle">
    <h2 class="t">Education</h2>
    </div>

        <img src="images/Uwaterloo_seal.gif"/>


        <a href="https://uwaterloo.ca/"><h3>University of Waterloo</h3></a>
        <p id="subtext">Candidate for Bachelor of Applied Science, Electrical Engineering(CO-OP) (2015-2020)</p> -->
  <div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">local_library</i>University of Waterloo</div>
        <div class="collapsible-body"><p>Candidate for Bachelor of Applied Science, Electrical Engineering(CO-OP) (2015-2020)</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">work</i>Avidbots Corp</div>
        <div class="collapsible-body"><p>Software Developer</p></div>
      </li>
    </ul>
  </div>

</div>
<script>
  $(document).ready(function() {
    $(".collapsible").collapsible();
  })
</script>
