<div class="section cyan lighten-5"><!--education-->
    <!-- <div class="subtitle">
    <h2 class="t">Education</h2>
    </div>

        <img src="images/Uwaterloo_seal.gif"/>


        <a href="https://uwaterloo.ca/"><h3>University of Waterloo</h3></a>
        <p id="subtext">Candidate for Bachelor of Applied Science, Electrical Engineering(CO-OP) (2015-2020)</p> -->
  <div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header" style="height: 60px"><h5>Skills</h5></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">local_library</i>University of Waterloo</div>
        <div class="collapsible-body uw center">
          <img class="exp-img responsive-img" src="images/Uwaterloo_seal.gif"/>
          <p>Candidate for Bachelor of Applied Science, Electrical Engineering(CO-OP)</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header active"><i class="material-icons">work</i>Avidbots Corp</div>
        <div class="collapsible-body white center">
          <img class="exp-img responsive-img" src="images/logo-withNObackground.png" style="max-width: 200px"/>
          <h5>Software Developer (CO-OP)</h5>
          <ul style="margin-bottom: 5%">
            <li class="divider" style="margin: 0 10%"></li>
            <li class="list-square">Revised and updated Avidbots robot management RestAPIs version 0 and created unit tests to ensure they work properly; the API is created with PHP ORMwrapper and mySQL database (MariaDB)</li>
            <li class="list-square">Created multiple improvements to the management website including an online cleaning plan editor based on the updated APIs with AngularJS and twitter bootstrap framework, it allows users to view, edit and create cleaning plans and the key files in the plans.</li>
            <li class="list-square">Created the prototype of remote management ROS node in python, the node handles uploading files from the robot to the server</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
<script>
  $(document).ready(function() {
    $(".collapsible").collapsible();
  })
</script>
