<div class="indigo lighten-5" style="height: 550px">

  <div class="valign-wrapper center" style="height: 500px">
    <div class="container row" style="margin-top: 5%">
      <div class="section header-section col m6 s12">
        <img class="responsive-img profile-img z-depth-3" src="images/Profile.jpg"/>
      </div>
      <div class="section col m6 s12 center-align">
        <h3 class="header-text">Daniel (Xiang) Zhou</h1>
        <h5>Student @ UWaterloo</h5>
        <h5>In love with Engineering, the web and beyond</h5>
        <a href="resources/xiangzhou_resume_v1.pdf" class="waves-effect waves-light btn indigo" target="_blank">Résumé <i class="fa fa-file-text-o"></i></a>
      </div>
    </div>

  </div>

</div>
