<div class="cyan lighten-5" style="height: 600px">

  <div class="row valign-wrapper center">
    <div class="container">
      <div class="section header-section">
        <img class="circle responsive-img profile-img z-depth-3" src="images/Profile.jpg"/>
      </div>
      <div class="section">
        <h3 class="center-align">Daniel (Xiang) Zhou</h1>
        <h5 class="center-align">Student </h5>
        <h5 class="center-align">Loving the web and beyond</h5>
      </div>
    </div>

  </div>

</div>
