<div class="indigo lighten-5" ng-controller="HomeController" style="70vh">

  <div class="valign-wrapper center" style="min-height: 60vh">
    <div class="container row" style="margin-top: 5%">
      <div class="section header-section col m6 s12">
        <img class="responsive-img profile-img z-depth-3" onload="Materialize.fadeInImage(this)" style="opacity: 0" src="images/Profile.jpg"/>
      </div>
      <div class="section col m6 s12">
        <h3 class="header-text">Daniel (Xiang) Zhou</h1>
        <p class="bio">Daniel is a junior software &amp web developer based in Waterloo, Ontario.
        He is passionate about the latest technologies in web development, data science and embedded systems.
        Daniel is currently studying Electrical and Computer Engineering at University of Waterloo. </p>
        <a href="resources/xiang_zhou_resume_round1_release1.pdf" class="waves-effect waves-light btn indigo" target="_blank">Résumé <i class="fa fa-file-text-o" style="font-size: 1em"></i></a>
      </div>
    </div>

  </div>

</div>
