<div class="section cyan lighten-5" ng-controller="ProjectsController"><!--contact-->
  <div class="container">
    <h2 class="center-align">
      Projects
    </h2>
    <div class="row">
      <div class="col s12 m4">
        <div class="card large">
          <div class="card-image">
            <a href="#modal1" class="waves-effect waves-light modal-trigger"><img src="images/fishLogin.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title black-text">Let's Yue</span>
            <ul>
              <li>Create custom events and bring all your friends together!</li>
            </ul>
          </div>
          <div class="card-action">
            <a href="https://github.com/danblitzhou/lets-yue"><i class="fa fa-github"></i>  Github</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card large">
          <div class="card-image">
            <a href="#modal2" class="waves-effect waves-light modal-trigger"><img src="images/fish_logo_v5.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title black-text">Oh my fish!</span>
            <ul>
              <li>Standardized Fisheries Data management and sharing Hybrid App
              </li>
            </ul>
          </div>
          <div class="card-action">
            <a href="https://github.com/danblitzhou/oh-my-fish"><i class="fa fa-github"></i>  Github</a>
            <a href="http://devpost.com/software/oh-my-fish"><i class="fa fa-file-text"></i>  DevPost</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card large">
          <div class="card-image">
            <a href="#/home"><img src="images/daniel_logo.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title black-text">Personal Page</span>
            <p>Personal page built with materialize and angularJS</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/danblitzhou/danblitzhou.github.io"><i class="fa fa-github"></i>  Github</a>
          </div>
        </div>
        <div class="card-panel light-blue darken-4">
          <span class="white-text">
            Follow my on-going and future works!
          </span>
          <a href="https://github.com/danblitzhou/"><span class="white-text"><i class="fa fa-github"></i>  My Github</span></a>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class="subtitle">
         <h2 class="t">Contact</h2>
    </div>
    <div class="socialmedia">
        <ul>
           <li>Email: x245zhou@uwaterloo.ca</li>
           <li>Mobile: 250-884-6589</li>
           <li>Address: Wilmot Court South 208b, Uwaterloo Place, 161 University Ave, Waterloo, Ontario, N2L 3E5</li>
        </ul>
    </div>
    <div class="leavemessage">
        <form>
            <div class="personalinfo">
                <p>Leave me a message!</p><br>
                <input type="text" class="text" value="Name *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name *';}">
       <input type="text" class="text" value="Email *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email *';}">
       <input type="text" class="text" value="Phone *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone *';}">
            </div>
            <div class="message">
                <textarea  value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message *</textarea>
       <input type="submit" value="Send Message"/>
            </div>
        </form>
    </div> -->
    <!-- modals template -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Let's Yue</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="modal-footer">
        <a href class="modal-action modal-close waves-effect btn-flat"><i class="material-icons">close</i></a>
      </div>
    </div>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Oh My Fish</h4>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="images/sign_in.png">
              <div class="caption">
                <h3 class="text-light-blue">Login Page</h3>
                <h5 class="text-light-blue">Create a login by entering your email and password</h5>
              </div>
            </li>
            <li>
              <img src="images/operations_log.png">
              <div class="caption">
                <h3 class="text-light-blue">My Operation Log</h3>
                <h5 class="text-light-blue">A list of current user's fishing operatinos</h5>
              </div>
            </li>
            <li>
              <img src="images/nearby_activities.png">
              <div class="caption">
                <h3 class="text-light-blue">Nearby Fishery Information</h3>
                <h5 class="text-light-blue">See the summary of fishery information in a specific location</h5>
              </div>
            </li>
            <li>
              <img src="images/new_operation_padded.png">
              <div class="caption">
                <h3 class="text-light-blue">Start a new operation</h3>
                <h5 class="text-light-blue">Record critical informations of a fishing operation before you start one</h5>
              </div>
            </li>
          </ul>
        </div>
        <p>
          <b>Fishhackthon 2016 Toronto</b> entry project;
          The goal of creating this app is to encourage and help individual fishermen or smaller fishing groups. This app provides a simple yet standardized platform to store and share fishery info.
          With <b>Oh my fish</b>, individuals or small fishing groups can have a easier way to manage their data;
          the big data collected by <b>Oh my fish</b> can also enhence fishing efficiency of individual users or provide reference for government and non-profit organizations.
        </p>
        <p>
          <b>Oh my fish</b> is developed with <b>Ionic/angularJS</b> framework and <b>Firebase</b>
        </p>
      </div>
      <div class="modal-footer">
        <a href class="modal-action modal-close waves-effect btn-flat"><i class="material-icons">close</i></a>
      </div>
    </div>

</div>
