<div class="section cyan lighten-5"><!--contact-->
  <div class="container">
    <h2 class="center-align">
      Projects
    </h2>
    <div class="row">
      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="images/fishLogin.png">
            <span class="card-title">Let's Yue</span>
          </div>
          <div class="card-content">
            <ul>
              <li>Create custom events and chatting rooms</li>
              <li>Built with ionic framework and firebase</li>
            </ul>
          </div>
          <div class="card-action">
            <a href="">Link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="images/nearby_activities.png">
            <span class="card-title">Oh my fish!</span>
          </div>
          <div class="card-content">
            <ul>
              <li>Fishhackathon 2016 Toronto submission project</li>
              <li>Standardized Fisheries Data management and sharing Android App
</li>
              <li>Built with ionic/AngularJS and firebase</li>
            </ul>
          </div>
          <div class="card-action">
            <a href="">Link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="images/daniel_logo.png">
            <span class="card-title">Personal Page</span>
          </div>
          <div class="card-content">
            <p>Personal page built with materialize and angularJS</p>
          </div>
          <div class="card-action">
            <a href="">Link</a>
          </div>
        </div>
        <div class="card-panel light-blue darken-4">
          <span class="white-text">
            Follow my on-going and future works!
          </span>
          <a href="https://github.com/danblitzhou/"><span class="white-text">My Github</span></a>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class="subtitle">
         <h2 class="t">Contact</h2>
    </div>
    <div class="socialmedia">
        <ul>
           <li>Email: x245zhou@uwaterloo.ca</li>
           <li>Mobile: 250-884-6589</li>
           <li>Address: Wilmot Court South 208b, Uwaterloo Place, 161 University Ave, Waterloo, Ontario, N2L 3E5</li>
        </ul>
    </div>
    <div class="leavemessage">
        <form>
            <div class="personalinfo">
                <p>Leave me a message!</p><br>
                <input type="text" class="text" value="Name *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name *';}">
       <input type="text" class="text" value="Email *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email *';}">
       <input type="text" class="text" value="Phone *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone *';}">
            </div>
            <div class="message">
                <textarea  value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message *</textarea>
       <input type="submit" value="Send Message"/>
            </div>
        </form>
    </div> -->
</div>
