<div class="section cyan lighten-5"><!--skills-->
    <div class="container">
      <h2 class="center-align">Skills</h2>
      <div class="row">
        <div class="col s12 m4">
          <h2 class="center"><i class="material-icons main-icon">devices</i></h2>
          <h5 class="center">Platforms</h5>
          <ul class="center">
            <li>
              <i class="fa fa-linux"></i>
              Linux
            </li>
            <li>
              <i class="fa fa-windows"></i>
              Windows
            </li>
            <li>
              <i class="material-icons" style="font-size: inherit;">android</i>
              Android
            </li>
          </ul>
        </div>
        <div class="col s12 m4">
          <h2 class="center"><i class="material-icons main-icon">code</i></h2>
          <h5 class="center">Programming</h5>
          <ul class="center">
            <li><i class="fa fa-code sub-icon"></i></li>
            <li>Java</li>
            <li>C++</li>
            <li>Python</li>
            <li>PHP</li>
            <li><i class="material-icons sub-icon">language</i></li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Javascript, (AngularJS, jQuery)</li>
            <li>RESTful API</li>
            <li>Ionic Framework</li>
            <li><i class="fa fa-database sub-icon"></i></li>
            <li>SQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
        <div class="col s12 m4">
          <h2 class="center"><i class="material-icons main-icon">settings_applications</i></h2>
          <h5 class="center">Tools</h5>
          <ul class="center">
            <li><i class="material-icons sub-icon">border_color</i></li>
            <li>Vim</li>
            <li>Sublime Text</li>
            <li>Atom</li>
            <li><i class="material-icons sub-icon">extension</i></li>
            <li>Eclipse</li>
            <li>Android Studio</li>
            <li>Visual Studio</li>
            <li><i class="fa fa-code-fork sub-icon"></i></li>
            <li>Git</li>
            <li>SVN</li>
          </ul>
        </div>
      </div>
    </div>

</div>
