<div class="section cyan lighten-5"><!--skills-->
    <div class="container">
      <h2 class="center-align">Skills</h2>
      <div class="row">
        <div class="col s12 m4">
          <h2 class="center"><i class="material-icons main-icon">devices other</i></h2>
          <h5 class="center">Platforms</h5>
          <ul class="center">
            <li>
              <i class="fa fa-linux"></i>
              Linux (Ubuntu)
            </li>
            <li>
              <i class="fa fa-windows"></i>
              Windows
            </li>
            <li>
              <i class="material-icons">android</i>
              Android
            </li>
          </ul>
        </div>
        <div class="col s12 m4">
          <h2 class="center"><i class="material-icons main-icon">code</i></h2>
          <h5 class="center">Programming</h5>
          <ul class="center">
            <li>
              <p>Java</p>
            </li>
            <li>
              <p>C++</p>
            </li>
            <li>
              <p>Javascript</p>
            </li>
          </ul>
        </div>
        <div class="col s12 m4">
          <h2><i class="material-icons main-icon">settings applications</i></h2>
          <h5 class="center">Tools</h5>
          <ul class="center">
            <li>
              <p>Vim</p>
            </li>
            <li>
              <p>Visul Studio</p>
            </li>
            <li>
              <p>Atom</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

</div>
